/* 
    This placeholder selector (%vertical-rhythm) sets a margin-bottom based on half of the 
    $spacing-unit variable. It is intended to maintain consistent vertical spacing between elements.
*/

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/*
    Style for blockquotes.
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/*
    Style for code and pre elements.
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/*
    The %clearfix placeholder selector is used to clear floats. 
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/*
    The .icon class styles SVG icons.
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}
